<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home Page</title>
</head>
<body>
    <div class="header">
        <a href="#default" class="logo">BitLee</a>
        <div class="header-right">
          
          <% if (!user) { %>
            <a href="http://localhost:8000/signup">Signup</a>
            <a href="http://localhost:8000/login">Login</a>
          <% } else { %>
            <a href="">Hello, <b><%=user.name%></b></a>
            <a href="http://localhost:8000/signup">Sign-Up</a>
           <a href="/logout">Logout</a>
           <% } %>
        </div>
      </div>
    <h1>Welcome to BitLee</h1>
    <form  method="POST" action="/url">
        <label for="redirectUrl">URL</label>
        <input id="redirectUrl" name="url" type="text">
        <button type="submit">Submit</button>
    </form>
    <div>
        <h1>Your Links</h2>
        <ol>
            <% allUrls.forEach(url => { %>
            <li><%= url.redirectId %> : <a href='http://localhost:8000/<%=url.shortId%>'> <%=url.shortId%>   %></a> - <a href="http://localhost:8000/url/analytics/<%=url.shortId%>">[analytics]</a></li>
            <% }) %>
        </ol>
    </div>
</body>
</html>